:root {
  --main-color:#FF5915;
}

.top_36{
  margin-top:36px;
}

@media (max-width:992px){
  .top_65{
    margin-top:18px;
  }
}

.container_shadow {
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.13);
  background-color: rgb(255, 255, 255);
}